body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgba(80, 174, 202, 0.288);
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    height:8rem;
    background-color: rgba(132, 126, 182, 0.315);
}

.logolink{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    width: 100%;
    justify-content: left;
}

.logolink h1{
    margin-left: 3rem;
}

p{
    font-size: 3rem;
}

main{
    flex: 1;
}

footer{
    background-color: rgba(104, 139, 59, 0.178);
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
}
