body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgba(80, 174, 202, 0.288);
    min-height: 100vh;
}

main{
    flex: 1;
    
}

.soundbuttons{
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}



.soundtemplate{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right:2rem ;

    
    background-color:rgba(69, 104, 98, 0.089);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.soundtemplate h3,a{
    text-align: center;
}